body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/*Phần công bố khoa học */
.flexs{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: darkblue;
}

.news-item {
    background-color: #fefefe;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    align-items: flex-start;
    display: flex;
    flex-basis: calc(50% - 10px);
    gap: 10px;
    flex-direction: row;
    box-sizing: border-box;
}


.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item img {
    max-width: 100px;
    height: auto;
    object-fit: cover;
}

.news-item a {
    text-align: left;
    flex: 1;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

@media (max-width: 768px) {
    .news-item {
        flex-direction: row;
        align-items: center; 
        padding: 10px; 
        flex-basis: 100%; 
        box-sizing: border-box;
    }

    .news-item img {
        max-width: 100%; 
        height: auto; 
        margin-bottom: 10px; 
    }

    .news-item a {
        font-size: 1rem; 
        text-align: left; 
        white-space: nowrap;
    }
}
