*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Phần main */

body{
    background-color: whitesmoke;
}

h1{
    padding: 20px;
    margin: 10px auto;
    color: #1e4456;
}

.departments{
    flex-wrap: wrap;
}

.department{
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.department a{
    text-decoration: none;
}

.department  img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.department h3{
    text-align: center;
    color:  #279cd2;
}

.department:hover{
    transform: translateY(-10px);
}

/* Phần mobile */
@media screen and (max-width: 768px){
    .department{
        width: 90%;
    }
}