body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Phần header */

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

header{
    background-color: #279cd2;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.font > div{
    font-family: cursive;
    padding: 0.1rem;
    font-weight: bolder;
}

ul.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.menu > li >a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem 1.5rem;
    font-size: small;
}

ul.menu >li > a:hover{
    text-decoration: underline;
}

.header:last-child{
    right: 0;
}

/* Phần nav */

nav{
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav > ul{
    justify-content: center;
}

ul.menunav{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

ul.menunav >li >a{
    text-decoration: none;
    color: #553f1f;
    display: block;
    padding: 1rem ;
    font-weight: bold;

}

ul.menunav >li >a:hover{
    background-color: #a68049;
    color: white;
}


main {
    padding: 40px 20px;
    background-color: whitesmoke;
}

.news-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: darkblue;
}

.news-item {
    width: 28.5%;
    background-color: #fefefe;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.news-item a {
    display: block;
}

.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item img {
    max-width: 100%;
}

.news-item small {
    display: block;
    margin-top: 15px;
    color: #888;
}

footer {
    background-color:#553f1f ;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
    font-size: 0.9rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}